body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}
header {
    text-align: center;
    margin-bottom: 30px;
}
header h1 {
    color: blue;
}
section {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
section h2 {
    color: whitesmoke;
}
p {
    line-height: 1.6;
    color: green;
}
footer {
    text-align: center;
    margin-top: 30px;
    color: #aaa;
}
.float-left {
    float: left;
    margin-right: 1.5rem;
    width: 200px; 
}
.image-container img {
    width: 150px; 
    height: 100px; 
    object-fit: cover; 
    border-radius: 10px; 
}
.sports-container {
    display: flex;
    align-items: center; 
    gap: 15px;
}

.sports-container img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}

.sports-content {
    flex: 1; 
}
section {
    display: flex;
    align-items: center; 
    background: lightsalmon;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
    flex-shrink: 0; 
}

section div {
    flex: 1; 
}
body{
    background-color: aquamarine;
}
.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 1rem;
    padding-top: 11rem;
    padding-bottom: 11rem;
}

.register-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.register-btn:hover {
    background-color: darkred;
}
