 body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    color: blue;
}
body h1{
    color: green;
}
body h2{
    color: red;
}
.container {
    width: 50%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: blue
}
.container select {
    color: blue
}
input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}